.search-box {
  position: relative;
  max-width: 420px;

}
.search-bar {
  width: 100%;
  padding: 10px 48px 10px 14px;
  /* 48px để chừa chỗ */
  border-radius: 24px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: #3f51b5;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn:hover {
  background: #303f9f;
}

@media (max-width: 768px) {
  .search-btn {
    right: 6%;
  }
}